@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  color-scheme: light;
  --ui-primary: var(--ui-color-primary-800);
  --ui-secondary: var(--ui-color-secondary-800);
  --ui-info: var(--ui-color-info-800);
  --ui-success: var(--ui-color-success-800);
  --ui-warning: var(--ui-color-warning-800);
  --ui-error: var(--ui-color-error-800);
}

.dark {
  --ui-primary: var(--ui-color-primary-200);
  --ui-secondary: var(--ui-color-secondary-300);
  --ui-info: var(--ui-color-info-300);
  --ui-success: var(--ui-color-success-300);
  --ui-warning: var(--ui-color-warning-300);
  --ui-error: var(--ui-color-error-300);
}

body {
  @apply bg-default text-default;
}
